/* Universal Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    background-color: #000;
    color: white;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}


li {
    list-style: none;   
}

/* Header */ 

.navbar {
    margin-bottom: 2rem;
}

.nav-items {
    display: flex;
    justify-content: flex-end;
    padding: 1.25rem;
}

.nav_item {
    font-size: 1.3rem;
    padding: 0 1.2rem;
}


/* Hero Section */

#hero_section {
    max-width: 100%;
    display: grid;
    grid-template-columns: 35% 65%;
    align-items: center;
}

.hero_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero_content p {
    font-size: 1.25rem;
    width: 80%;
    text-align: center;
}

.hero_image img {
    width: 100%;
    filter: grayscale(70%);
}


#gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.gallery_images {
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(3,1fr);
}

#gallery img {
    width: 90%;
    height: 90%;
}   

footer {
    text-align: center;
    font-size: 1.25rem;
    
}


/* Media Queries */

@media only screen and (min-width: 320px) {

    .navbar {
        margin-bottom: 1rem;
    }

    .nav_item {
        font-size: 1rem;
        padding: 0 0.5rem;
    }

    #hero_section {
        display: block;
    }

    .hero_content {
        text-align: center;
    }

    .hero_content h1 {
        font-size: 1.87rem;
    }

    .hero_content h2 {
        font-size: 1.5rem;
    }

    .hero_content p {
        font-size: 1em;
    }

    #gallery h2 {
        text-align: center;
        font-size: 1.87rem;
    }

    .gallery_images {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (min-width: 480px) {
    #hero_section {
        display: block;
    }

    .hero_content {
        text-align: center;
    }

    .hero_content h1 {
        font-size: 2.25rem;
    }

    .hero_content h2 {
        font-size: 1.87rem;
    }

    .hero_content p {
        font-size: 1.2em;
    }

    #gallery h2 {
        text-align: center;
    }
}