.main-content {
    position: relative;
    display: grid;
    grid-template-columns: 270px 770px 312px;
    gap: 24px;
    justify-content: center;
    padding: 20px 24px;
}

.content-area {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

aside:first-child {
    position: relative; 
    height: fit-content;
}

.categories-subreddits {
    position: relative;
    height: fit-content;
}

@media screen and (max-width: 1280px) {
    .main-content {
        grid-template-columns: 770px 312px;
    }
      
    aside:first-child {
        display: none;
    }
}

@media screen and (max-width: 980px) {
    .main-content {
        grid-template-columns: 100%;
        margin: 0 auto;
        padding: 16px;
    }
    
    .categories-subreddits {
        display: none;
    }
}