.hero {
  height: 85vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.hero-content {
  position: relative;
  width: fit-content;
  height: fit-content;
}

.hero-image img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 9999px;
  z-index: 2;
  position: relative;
}

.icons-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;  /* was 500px */
  height: 600px;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 1;
}

.icons-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.floating-icon {
  position: absolute;
  transform: translate(-50%, -50%);
  animation: floatAround 6s ease-in-out infinite alternate;
}

.icon-wrapper {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.icon-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media screen and (min-width: 720px) {
    .hero {
        padding-inline: 6rem /* 96px */
    }
    .float-logos-container {
        top: 20rem;
        bottom: 20rem;
        left: 6rem;
        right: 6rem;
    }
    .logo-field {
        aspect-ratio: 1.02;
    }
    .icon_wrapper {
        size: 20rem;
        border-radius: 12rem;
    }
}

@media screen and (min-width: 1280px) {
    .hero {
        padding-inline: 20rem /* 320px */
    }
    .float-logos-container {
        top: calc(min(120px, 10%));
        bottom: calc(min(120px, 10%));
        left: 20rem;
        right: 20rem;
    }
    .logo-field {
        aspect-ratio: 1.82;
    }
}

@media screen and (min-width: 1536px) {
    .logo-field {
        max-width: 1536px;
    }
}

@keyframes floatAround {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(5px, -5px);
  }
  50% {
    transform: translate(0, -10px);
  }
  75% {
    transform: translate(-5px, -5px);
  }
  100% {
    transform: translate(0, 0);
  }
}
