.hero {
  height: 85vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}


.hero-content::-webkit-scrollbar {
  display: none;        
}

.hero-image {
  width: 250px;
  overflow: hidden;
  margin: 0 auto;
  flex-shrink: 0;
  margin-bottom: 100px;
  /* Add these lines */
  animation: fadeOut linear both;
  animation-timeline: view();
  animation-range: exit 0% exit 100%;
}


.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  
}

.hero-text {
  position: relative;
  width: 280px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* Add these lines */
  animation: fadeIn linear both;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}
.text-line {
  opacity: 0;
  animation: fadeIn 1.5s ease-out forwards;
  animation-timeline: view();
  animation-range: entry 10% cover 40%;
}

.text-line:nth-child(2) {
  animation-delay: 0.3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.icons-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 600px;
  height: 600px;
  z-index: 1;
}
.icons-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.floating-icon {
  position: absolute;
  transform: translate(-50%, -50%);
  animation: floatAround 6s ease-in-out infinite alternate;
}

.icon-wrapper {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.icon-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


@keyframes floatAround {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(5px, -5px);
  }
  50% {
    transform: translate(0, -10px);
  }
  75% {
    transform: translate(-5px, -5px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@media screen and (min-width: 720px) {
  .hero {
    padding-inline: 6rem;
  }
}

@media screen and (min-width: 1280px) {
  .hero {
    padding-inline: 20rem;
  }
}