main {
    position: relative;
    display: grid;
    grid-template-columns: 250px 2fr;
    top: 70px;
    height: calc(100vh - 80px);
}

.home-container {
    display: grid;
    grid-template-columns: 770px 300px;
    column-gap: 0px;
    justify-content: space-around;
    
}

.categories-subreddits {
    width: 300px;
    position: relative;
    top: 20px;
    margin-left: -40px;
}

@media screen and (max-width: 1200px ) {
    main {
        grid-template-columns: 1fr;
    }

    .home-container { 
        grid-template-columns: 770px;
    }
}


@media screen and (max-width: 1600px) {
    .categories-subreddits {
        margin-left: 100px;
    }
}
