main {
    position: relative;
    top: 70px;
    padding: 20px 24px;
}

.home-container {
    position: relative;
    display: grid;
    grid-template-columns: 270px 770px 312px;
    gap: 24px;
    justify-content: center;
}

aside:first-child {
    position: relative; 
    height: fit-content;
}

.categories-subreddits {
    position: relative;
    height: fit-content;
}

@media screen and (max-width: 1280px) {
    .home-container {
      grid-template-columns: 770px 312px;
    }
    
    aside:first-child {
      display: none;
    }
  }
  
  @media screen and (max-width: 960px) {
    main {
      padding: 16px;
    }
  
    .home-container {
      grid-template-columns: 100%;
    }
  
    .categories-subreddits {
      display: none;
    }
}