
input {
    background-color: var(--dark-gray);
    border: 1px solid var(--light-gray);
    height: 40px;
    width: 405px;
    border-radius: 20px;
}

input[type=text] {
    padding-left: 40px;
}

.icon {
    height: 24px;
    position: relative;
    top: 7px;
    left: 35px;
}