.subreddits {
    position: relative;
    background-color: var(--reddit-black-bg);
    width: 200px;
    height: 232px;
    border-radius: 20px;
    padding: 10px;
    margin-right: 30px;
}

.subreddit-link {
    position: relative;
    display: block;
    padding: 8px 12px;
    color: var(--reddit-secondary-text);
    font-size: 14px;
    border-radius: 2px;
}

.subreddit-link:hover {
    background-color: rgba(255, 255, 255, 0.04);
  }

.subreddit-link img {
    width: 30px;
}

@media screen and (max-width: 1200px) {
    .subreddits {
        display: none;
    }
}
