body {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #000;
    color: #fff;
}

h2 {
    font-size: 50px;
    font-weight: normal;
}

a {
    color: #7fddd4;
    font-size: 16px;
}

p {
    font-size: 21px;
    color: #808080;
}

#discover {
    margin-bottom: 35px;
}

.text1 {
    margin-bottom: 25px;
}

.text2 h2 {
    font-size: 42px;
    font-weight: 300;
}

#coming_soon {
    margin-top: 25px;
}

#copyright {
    text-align: right;
}
