.posts-container {
    position: relative;
    background-color: var(--reddit-dark-bg);
    border-bottom: 1px solid var(--reddit-dark-border);
    margin-bottom: 20px;
    padding: 20px 0px;
}

.loader {
    position: relative;
    margin: 32px auto;
    border: 2px solid var(--reddit-dark-border);
    border-top: 2px solid var(--reddit-orange);
    border-radius: 50%;
    width: 32px;
    height: 32px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

