.home {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  position: relative;
  width: 100%;
  padding: 1rem 8rem;
  border-bottom: 1px solid var(--primary-color);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__left {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header__hamburger__icon {
  display: none;
}

.header__nav__desktop ul {
  display: flex;
}

.header__nav__desktop ul li {
  list-style: none;
  margin-right: 1rem;
}

.header__actions {
  display: flex;
  align-items: center;
}

.header__actions__cart {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.header__actions__link:nth-child(2) {
  margin-right: 1rem;
}

.header__actions__link__logout {
  margin-right: 1rem;
}

.header__actions__link__icon {
  width: 1.25rem;
  height: 1.25rem;
}

.header__nav__mobile {
  display: none;
}

.header__nav__mobile ul li {
  list-style: none;
  margin-bottom: 1rem;
}

.header__nav__mobile.open {
  border-top: 1px solid var(--primary-color);
  display: block;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--secondary-color);
  padding: 1rem;
  z-index: 1;
}

@media (max-width: 768px) { 
  .header {
    padding: 1rem;
  }
  .header__nav__desktop {
    display: none;
  }
  .header__actions {
    font-size: 0.875rem;
  }
  .header__logo {
    font-size: 0.9rem;
  }
  .header__hamburger__icon {
    display: block;
    width: 1.25rem;
    height: 1.25rem;
  }
}

/* Hero */

.hero {
  padding: 1rem 8rem;
  max-height: 600px;
  display: flex;
}

.hero__content__cta {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  width: fit-content;
  padding: 1rem 1rem;
  border-radius: 1rem;
}


.hero__images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: -40px;
  padding: 2rem;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}

.hero__images > div {
  position: relative;
  transition: all 0.3s ease;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 200px;
  width: 100%;
}

.hero__images > div:nth-child(odd) {
  transform: translateY(20px);
}

.hero__images > div:nth-child(even) {
  transform: translateY(-20px);
}

.hero__images > div:hover {
  transform: scale(1.05);
  z-index: 2;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.hero__images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.hero__images > div:hover img {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .hero__images {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .hero__images > div {
    height: 150px;
    transform: none !important;
  }
}

/* Featured Products */

.featured-products {
  padding: 1rem 8rem;
  max-height: 600px;
}

.featured-products__title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
  text-align: center;
}

.featured-products__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: -40px;
  padding: 2rem;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}

@media (max-width: 768px) {
  .featured-products__grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
}

/* Product Card */

.product-card {
  position: relative;
  transition: all 0.3s ease;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 400px;
}

.product-card__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product-card__content {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1rem;
}

.product-card__content h3 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.product-card__content p {
  font-size: 0.875rem;
  color: var(--primary-color);
}

@media (max-width: 768px) {
  .product-card {
    height: 300px;
  }

}

/* Footer */
.footer {
  padding: 1rem 8rem;
}

.footer__top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 300px;
}

.footer__newsletter {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.footer__newsletter h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.footer__newsletter p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.footer__newsletter form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__newsletter form input {
  padding: 0.5rem;
  border-radius: 1rem;
  margin-right: 0.5rem;
}

.footer__newsletter form button {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 0.5rem;
  border-radius: 1rem;
  border: none;
}

.footer__links {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer__links ul {
  list-style: none;
}

.footer__links ul li {
  margin: 1rem;
} 

.footer__bottom {
  background-color: var(--primary-color);
  padding: 1rem;
  color: var(--secondary-color);
  text-align: center;
}

.products {
    padding: 1rem 8rem;
    max-height: 600px;
}

.products__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: -40px;
    padding: 2rem;
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
}

@media (max-width: 768px) {
    .products__grid {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }
}
