@import '@fontsource/inter';
@import '@fontsource-variable/public-sans';

:root {
  --primary-color: #000000;
  --secondary-color: #ffffff;

  --text-base: '1rem';
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: var(--text-base);
  color: var(--primary-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: 'Public Sans', sans-serif;
  font-size: 3.5rem;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-family: 'Inter', sans-serif;
}

button:hover {
  background-color: var(--primary-color);
}


.container {
  max-width: 1400px;
  padding: 1rem;
}