@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    font-family: 'Rubik';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: 0 auto;
    font-size: 16px;
    color: #404040;    
}

h1 {
    font-size: 3.4375rem;  
}

h2 {
    font-size: 2.2rem;
}

h3 {
    font-size: 1.6rem;
}

li {
    font-size: 1.3rem;
}

p {
    font-size: 1.3rem;
    color: #696969;
}

a {
    text-decoration: none;
}

/* Header */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    padding-left: 24px;
    padding-right: 24px;
}

#logo_container {
    display: flex;
    align-items: center;
    font-size: 32px;
}

#logo_container a {
    text-decoration: none;   
    color: #888;
    font-weight: 600;
}

#logo_container img {
    height: 45px;
}

#logo_container span {
    color: #000;
}

#mobile {
    display: flex;
    justify-content: space-between;
}

.navbar .nav-items {
    display: flex;
    align-items: center;
    list-style-type: none;
    
}

.navbar .nav-items .nav-item {
    padding-right: 16px;
}

/* Hero */

#hero {
    width: auto;
    background-color: lightgray;
    display: flex;
}

#hero #banner {
    width: 60%;
    padding-left: 24px;
    padding-top: 32px;
    padding-right: 24px;
    padding-bottom: 32px;
}

.hero_text {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    width: 30%;
    justify-content: center;
}

.hero_text h1 {
    margin-bottom: 32px;
}

.hero_text h2 {
    margin-bottom: 32px;
    width: 60%;
}

.hero_text button {
    font-size: 24px;
    width: 60%;
    background-color: #404040;
    color: #fff;
    padding: 8px 0;
}




.container > h2 {
    text-align: center;
    padding: 32px 0;
}

/* Info sectioni */
.info {
    display: grid;
    grid-template-columns: 60% 40%;
}


.info .info_container1 img{
    width: 100%;
    padding-left: 24px;
    padding-top: 32px;
    padding-right: 24px;
    padding-bottom: 32px;
}

.info_container1 video  {
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 0px;
    padding-bottom: 32px;
}


.info .container1_text {
    width: 77%;
    padding-left: 24px;
    padding-bottom: 32px;
}

.info .container1_text h2 {
    
    padding-bottom: 24px;
}

.info .container1_text p {
    font-size: 22px;
    padding-bottom: 32px;
}
.info .container1_text span {
    padding-bottom: 32px;
}

.info .info_container2 {
    border-left: 1px solid lightgray;
}

.info .info_container2 .info_details {
    display: flex;
}

.info .info_container2 .info_details img {
    width: 35%;
    height: auto;
    padding: 16px;

}

.info .info_container2 .info_details .info_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info .info_container2 .info_details h3, #info .info_container .info_details p {
    padding-bottom: 8px;
}

.info .info_container2 .detail3 {
    background-color: lightgray;
}


/* Learning Section */

#learning {
    background-color: lightgrey;
    padding: 32px 72px;
}

#learning h2 {
    text-align: center;
    margin-bottom: 32px;
}

#learning .learning-cards {
    display: grid;
    justify-items: center;
    row-gap: 32px;
    grid-template-columns: repeat(3, 1fr);


}
#learning .learning-cards .cards {
    background-color: white;
}

#learning .learning-cards .cards .cards_content {
    padding: 16px;
    
}

#learning .learning-cards .cards .cards_content h3 {
    font-size: 24px;
    padding-bottom: 8px;
}

#learning .learning-cards .cards .cards_content p {
    padding: 8px 0;
    font-size: 20px;
}

footer {
    border-top: 1px solid lightgray;
    padding-left: 24px;
}

footer .tp {
    display: flex;
    justify-content: end;
    

}

@media screen and (max-width: 768px) {
    #navbar {
        display: none;
    }
}