:root {
  --reddit-dark-bg: #1A1A1B;
  --reddit-black-bg: #000;
  --reddit-dark-post-bg: #1A1A1B;
  --reddit-dark-text: #D7DADC;
  --reddit-orange: #FF4500;
  --reddit-dark-border: #343536;
  --reddit-secondary-text: #818384;
  --reddit-link-text: #4FBCFF;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--reddit-dark-bg);  
  color: var(--reddit-dark-text);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  background: none;
  color: var(--reddit-dark-text);
  outline: none;
}

input {
  background: none;
  border: none;
  font-weight: bold;
}

input:focus {
  outline: none;
}

button {
  display: inline-block;
  border: none;
  margin: 0;
  text-decoration: none;
  background-color:  #121212;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1;
  cursor: pointer;
  text-align: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}